<div class="container-fluid p-3 border align-items-center">
    <div class="container-lg text-dark text-center">

        <div class="container text-center mt-5">
            <div class="weather">
                <h1>Esplora il Meteo Locale</h1>
                <p class="lead">Qui puoi trovare le previsioni del tempo dettagliate per la tua città o qualsiasi altra località nel mondo. Basta digitare il nome della città nel campo di ricerca e premere "Cerca" per visualizzare le informazioni meteo aggiornate.</p>
            </div>

        </div>
    </div>
</div>

